*{
    list-style: none;
    font-family: sans-serif;
}

div header{
    background-image: url(ruido.png);
}

div header img{
    width: 120px;
    padding: 10px 5px 10.5px 40px;
}

div{
    background-repeat: repeat;
}